@font-face {
  font-family: "Colibre Bristole Pro";
  src: url("../fonts/ColibreBristolePro-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Darcey Oliver";
  src: url("../fonts/DarceyOliver.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Myriad Pro Regular", Arial, sans-serif;
}

section {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
}

.home {
  background-color: #ede0d0;
}

.home nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
}

.home nav a {
  text-decoration: none;
  color: #b78168;
  font-size: 2vw;
  transition: 0.5s;
}

.home nav a:hover {
  text-decoration: underline;
}

.home .content {
  display: flex;
  justify-content: space-around;
  margin: 0 10vw 5vw;
}

.home .content-text {
  margin-top: 2vh;
}

.home .content-image {
  margin-top: 6vh;
}

.home-title {
  font-size: 9vw;
  color: #b57e64;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
}

.home-subtitle {
  color: #b69b8a;
  font-weight: 300;
  font-size: 2.15vw;
}

.home-description {
  color: #b57e64;
  width: 85%;
  font-size: 0.98vw;
  margin-top: 1vh;
}

.home-image div {
  height: 100%;
}

.home-image {
  height: 70vh;
}

.modal {
  display: none;
}

dialog {
  background-color: #ede0d0;
  border: none;

  width: 100%;
}

.button-navbar {
  display: none;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

.button-navbar label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

.button-navbar label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #b57e64;
  transition: 0.25s ease-in-out;
}

.button-navbar label span:nth-child(1) {
  top: 0;
}

.button-navbar label span:nth-child(2) {
  top: 8px;
}

.button-navbar label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

.button-navbar {
  display: none;
}


.metodoTop {
  width: 100%;
  height: 50vh;
  background-color: #b69a89;

  display: flex;
}

.metodoTop .left {
  color: #ede0d0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8vw;
}

.metodo-logo {
  height: 10vw;
}

.metodoTop .left p {
  font-size: 1.2rem;
}

.metodoTop .right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metodo-image {
  height: 48vh;
}

.metodoBottom {
  width: 100%;
  height: 50vh;
  background-color: #dac8b6;

  display: flex;
  justify-content: end;
}

.containerMetodo {
  width: 63%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerMetodo span {
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  color: #6c4730;
  font-size: 36px;

  margin-bottom: 4vh;
}

.containerMetodo p {
  color: #b57e64;
  font-size: 1.3rem;
}

.curso {
  background-color: #b69a89;
  min-height: 80vh;
  height: 80vh;
  z-index: 2;
  display: flex;
}

.curso-image {
  height: 135vh;

  position: relative;
  top: -54vh;
  left: 0;
  z-index: 1;
}

.protese {
  background-color: #dac8b6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.protese h1 {
  font-size: 2.5rem;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  color: #6c4730;
  margin: 10vh 0;
}

.protese #protese {
  font-size: 3rem;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  color: #6c4730;
  margin: 5vh 0 10vh;
}

.protese .h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b69a89;
  padding-bottom: 5vh;
}

.protese .h2 h2 {
  font-size: 2.5rem;
  width: 80%;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  color: #6c4730;
}

.protese-content {
  display: flex;
  justify-content: center;
  text-align: start;

  width: 100%;
}

.protese-content div {
  font-size: 1.8rem;
  font-weight: bold ;
  color: #6c4730;
}

.contatos1 {
  background-color: #b69a89;
  min-height: 10vh;

  display: flex;
  flex-direction: row;
}
.contatos1 .h1 {
  width: 35%;
  font-size: 7vw;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  color: #6c4730;

  display: flex;
  justify-content: center;
  align-items: end;
}
.contatos1 .h2 {
  width: 65%;
  font-size: 1.5vw;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  color: #6c4730;

  display: flex;
  justify-content: center;
  align-items: end;
}

.contatos2 {
  min-height: 90vh;
  background: rgb(182, 155, 138);
  background: linear-gradient(
    180deg,
    rgba(182, 155, 138, 1) 0%,
    rgba(182, 155, 138, 1) 18%,
    rgba(218, 200, 182, 1) 18%,
    rgba(218, 200, 182, 1) 100%
  );

  z-index: 2;
  display: flex;
}

.contatos-image {
  height: 90vh;

  position: relative;
  top: 0vh;
  left: 0;
  z-index: 1;
}

.contatos-content {
  margin-top: 18vh;
  width: 100%;

  display: flex;
  justify-content: center;
}

.prices {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prices img {
  width: 50vh;
  max-width: 100%;
  margin-right: 4vh;
}

.prices-buttom {
  width: 50%;
  
  height: 8vh;
  line-height: 80%;
  padding: 10px 5px;
  border-radius: 10px;
  margin-top: 8vh;

  background-color: #6c4730;
  color: #dac8b6;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.curso-contentOne h1 {
  font-size: 3rem;
  font-family: "Colibre Bristole Pro", Arial, sans-serif;
  color: #6c4730;
  font-weight: lighter;
}

.curso-content {
  margin: 10vh 0;
  display: flex;
  justify-content: center;
  text-align: start;

  width: 100%;
}

.curso-content div {
  font-size: 2rem;
  font-weight: bold ;
  color: #6c4730;
  width: 50%;
  margin-right: 10%;
}

.prices-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .containerMetodo {
    width: 60%;
  }
}

@media only screen and (max-width: 1300px) {
  .containerMetodo {
    width: 55%;
  }
}

@media only screen and (max-width: 1240px) {
  .containerMetodo {
    width: 50%;
  }

  .containerMetodo span {
    font-size: 30px;
  }
  
  .containerMetodo p {
    font-size: 1.3rem;
  }

  .protese-content {
    margin: 10vh 0;
  }

  .curso-content {
    margin: 5vh 0;
  }

  .prices-buttom {
    width: 60%;
    font-size: 2rem;
  }

  .curso {
    height: 100vh;
  }
}


@media only screen and (max-width: 1023px) {
  .curso-image {
    display: none;
  }

  .contatos-image {
    display: none;
  }

  .containerMetodo {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .metodoBottom {
    padding: 20px 0;
  }

  .protese-content {
    margin: 5vh 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .protese h1 {
    font-size: 2rem;
  }

  .protese #protese {
    font-size: 2rem;
  }

  .protese-content div {
    font-size: 1rem;
    font-weight: bold ;
    color: #6c4730;
    width: 90%;
  }

  .protese .h2 h2 {
    font-size: 1.5rem;
    width: 80%;
    font-family: "Colibre Bristole Pro", Arial, sans-serif;
    color: #6c4730;
  }

  .contatos1 {
    background-color: #b69a89;
    min-height: 10vh;
  
    display: flex;
    flex-direction: column;
    padding: 50px 0 35px 0;
  }

  .contatos1 .h1, .contatos1 .h2 {
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contatos1 .h1 {
    font-size: 2rem;
    margin-top: 2vh;
  }

  .contatos1 .h2 {
    font-size: 1rem;
  }

  .contatos2 {
    background: rgba(218, 200, 182, 1);
    background: linear-gradient(
      180deg,
      rgba(218, 200, 182, 1) 0%,
      rgba(218, 200, 182, 1) 18%,
      rgba(218, 200, 182, 1) 18%,
      rgba(218, 200, 182, 1) 100%
    );

    display: flex;
    flex-direction: row;  
    min-height: 90vh;
  }

  .contatos-content {
    margin-top: 2vh;
    justify-content: center;
  }

  .prices {
    width: 90%;
    align-items: center;
  }

  .prices img {
    margin-right: 0vh;
    margin-top: 4vh;
  }

  .curso {
    justify-content: center;
  }

  .curso-contentOne {
    text-align: center;
  }

  .curso-content {
    margin: 10vh 0;
    flex-direction: column;
  }

  .curso-contentOne h1 {
    font-size: 30px;

    margin-top: 1vh;
    margin: 1 2vh 0;
    font-weight: normal;
  }
  
  .curso-content div {
    font-size: 1rem;
    width: 80%;
    margin-right: 0%;
  }

  .curso {
    height: auto;
  }

  .prices-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .home nav a {
    font-size: 4vw;
  }

  .home .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 10vw 5vw;
  }

  .home nav {
    height: auto;
    padding-top: 2vw;
  }

  .home .content-text {
    margin-top: 2vh;
  }

  .home .content .content-image {
    margin-top: 4vh;
  }

  .home .content .content-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-subtitle {
    color: #b69b8a;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .home-description {
    color: #b57e64;
    width: 100%;
    font-size: 1rem;
    margin-top: 1vh;
  }

  .button-navbar {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
  }

  .home .navbar-desktop a {
    display: none;
  }

  .home .navbar-mobile {
    display: flex;
    flex-direction: column;
  }

  .home .navbar-mobile a {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }

  .metodoTop {
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: #b69a89;

    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
  }

  .metodoTop .left {
    color: #ede0d0;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
  }

  .metodo-logo {
    margin-top: 30px;
    width: 80%;
    height: auto;
  }

  .metodoTop .left p {
    font-size: 1.1rem;
    text-align: center;
  }

  .metodoTop .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .metodo-image {
    max-width: 90%;
  }

  .metodoBottom {
    height: auto;
    min-height: 50vh;

    flex-direction: column;
    justify-content: center;
    padding: 0px 0;
  }

  .containerMetodo span {
    font-size: 24px;
  }
  
  .containerMetodo p {
    font-size: 1rem;
  }

  .protese-content {
    margin: 5vh 0;
  }

  .prices-buttom {
    width: 80%;
    font-size: 1.5rem;
  }

  .curso-contentOne h1 {
    font-size: 24px;
  }

  .protese #protese {
    width: 90%;
    font-size: 24px;
    color: #6c4730;
    margin: 5vh 0 5vh;
  }

  .curso-content {
    margin-left: 8vw;
  }
}